.sidebar{
  width: 25%;
  float: left;
}
.container.with-sidebar{
  float: left;
  margin: 0 2.7%;
  width: 68%;
}
.sidebar-content{
  height: 200px;
}

@media only screen and (max-width: 1150px) {
   .sidebar{
    display: none;
  }
  .container.list-container.with-sidebar{
    width: 100%;
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
  }
}
